* {
  box-sizing: border-box;
}
.app {
  background-image: url("./../images/weather_background.jpg");
  background-size: cover; /* Make sure the background covers the entire element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  display: flex; /* Use flexbox for centering content */
  padding: 10px 50px 30px;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  /* height: auto; */
}

.grid-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "locationweathersummary  weatherimage"
    "weeklyTemp weeklyforecast"
    "hourlyforecast weeklyforecast";
}

.locationweathersummary {
  grid-area: locationweathersummary;
}

.weatherimage {
  grid-area: weatherimage;
}

.hourlyforecast {
  grid-area: hourlyforecast;
  overflow: hidden;
}

/* #graphContainer {
  -ms-overflow-style: none;
  scrollbar-width: none; 
} */

#graphContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.menu {
  grid-area: menu;
}

.weeklyTemp {
  grid-area: weeklyTemp;
}

.weeklyforecast {
  grid-area: weeklyforecast;
}
